{% extends 'base.html.twig' %}

{% block title %}WebGestion - Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/css/form.css') }}" type="text/css" />
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-error">
            Pseudo ou mot de passe incorrect
            <div class="material-icons close">clear</div>
        </div>
    {% endif %}

<main class="main-content" role="main">
    <h1>Se connecter</h1>
</main>

<div class="form-container">
    <form method="post">
            <label for="inputLogin">Pseudo</label>
            <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>

            <div class="div-separateur">
                <p class="separateur">OU</p>
                <a class="inscription" href="/register">S'inscrire</a>
            </div>
    </form>
</div>
{% endblock %}



