{% extends 'base.html.twig' %}

{% block title %}WebGestion - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    {% if not app.user %}
        <div class="acceuil">
            <h1 class="h1-anim"></h1>
            <button class="floating-btn">
                <a href="/login">
                    <img src="{{ asset('/img/chevron.png') }}" alt="Chevron permettant de changer de page" />
                </a>
            </button>
        </div>
    {% endif %}
{% endblock body %}