body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.acceuil {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    center / cover url("../img/fond_homepage.jpg");
}

.txt-anim {
    color: var(--indigo);
}

.h1-anim {
    width: 80%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--lightgrey);
    text-align: center;
    margin: 0;
}

/* Chevron */
.floating-btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 var(--grey);
    animation: pulse 1.3s infinite;
    background: var(--grey);
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 15px rgb(255, 255, 255, 0.01);
    }
}

.floating-btn img {
    width: 30px;
}

.floating-btn:hover{
    transition: filter .4s ease-in-out;
    filter: contrast(200%);
}

/* Pas besoin du bouton retour sur la page d'accueil */
button {
    display: none;
}