@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

h1 {
    text-align: center;
    font-size: clamp(30px, 5.5vw, 80px);
    margin: 5px;
    font-weight: 900;
}

.line {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}

.line .in-line:first-child {
    margin-right: 10px;
}

.line .in-line:last-child {
    margin-left: 10px;
}

.block{
    width: 100%;
}

.block input{
    width: 100%;
    margin-bottom: 8px;
}

.block:first-child{
    margin-top: 10px;
}

button[type="submit"]{
    margin-top: 20px;
}

form input{
    padding: .2rem .4rem;
}

label{
    font-size: 18px;
}

.form-container{
    margin-bottom: 50px;
}

#registration_form_date_nais{
    display: flex;
    align-items: flex-end;
}

select{
    background-color: #CDD2DE;
    border: 2px solid #1C1939;
    padding: .2rem .3rem;
    box-shadow: 2px 2px 4px #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 3px;
}

select:first-child{
    margin-left: 0;
}

div > ul li{
    font-weight: bold;
    color: #b90d42;
    font-style: oblique;
    margin-bottom: 4px;
}

.in-line div {
    display: grid;
}